In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [4]:
df = pd.read_csv("/data/BreadBasket_DMS.csv")
df.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

In [5]:
df = df.query("Item!='NONE'")

In [6]:
df.info()
df["Qty"]=1

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20507 entries, 0 to 21292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         20507 non-null  object
 1   Time         20507 non-null  object
 2   Transaction  20507 non-null  int64
 3   Item         20507 non-null  object
dtypes: int64(1), object(3)
memory usage: 801.1+ KB

In [7]:
daily_items = df.groupby(["Date","Item"])["Qty"].sum().reset_index()

In [ ]:
#Filtering Top 3 product
top_items = daily_items.groupby("Item")["Qty"].sum().sort_values(ascending=False)[0:3].index
top_items

In [ ]:
top_daily_items = daily_items[daily_items["Item"].isin(top_items)]
top_daily_items

In [ ]:
top_daily_items = top_daily_items.sort_values(by=["Item","Date"])
top_daily_items

In [ ]:
top_daily_items["Date"] = pd.to_datetime(top_daily_items["Date"])
top_daily_items.info()

In [ ]:
df_1 = top_daily_items[top_daily_items['Item'] == "Coffee"]
df_2 = top_daily_items[top_daily_items['Item'] == "Tea"]
df_3 = top_daily_items[top_daily_items['Item'] == "Bread"]